body {
    background-color: burlywood;
}

.parent {
    height: 400px;
    width: 400px;
    display: inline-block;
    background-color: coral;
    margin: 10px;
    position: relative;
}

.parent div {
    height: 100px;
    width: 100px;
    background-color: crimson;
}

.mid1 {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mid2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
}

.mid3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}