.main-title {
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

div {
    font-size: 20px;
    margin: 5px 5px 0 5px;
}

div:first-child {
    color: red;
}

.type1 {
    background-color: blue;
    width: 100px;
    position: absolute;
    left: 20px;
    top: 150px;
}

.type2 {
    background-color: aqua;
    width: 100px;
    position: relative;
    left: 20px;
}

.type3 {
    background-color: brown;
    width: 100px;
    position: fixed;
    left: 200px;
    top: 200px;
}